@import '../../layouts/variables.css';

.SponsorsListItem {
  color: var(--color-cta);
  margin-left: var(--spacer-xs) !important;
  margin-right: var(--spacer-xs) !important;
  margin-top: var(--spacer-xs) !important;
  text-align: center;
}

.SponsorListItem-Img {
  max-height: var(--spacer-xl);
}

.SponsorListItem-Name {
  @apply --smallcaps-regular;
}
