:root {
  --color-cta: var(--accent);
  --type-regular: var(--dark);

  --selection-bg: var(--js-yellow);
  --selection-color: var(--js-gray);

  --shadow--dark: var(--dark-darker);
  --shadow: var(--dark-lighter);
}
