:root {
  /*--button: var(--dark-dark);*/
  --type-regular: var(--dark);
  /*--type-dark: var(--dark);*/
  /*--type-medium: var(--dark-darker);*/
  /*--type-light: var(--dark-dark);*/

  --selection-bg: var(--js-yellow);
  --selection-color: var(--js-gray);

  --shadow: var(--dark-darker);
}
