@import '../../layouts/variables.css';

.LinkButton {
  @apply --button-label-small;
  background-color: var(--accent-secondary);
  color: var(--light-lighter) !important;
  display: inline-block;
  padding: var(--spacer-2xs);
  text-decoration: none;
  transition: all 0.25s;
  border: solid 3px transparent;
  &:hover {
    border-color: var(--accent-secondary);
    background-color: var(--light-lighter);
    color: var(--accent-secondary) !important;
  }
}
