@import '../../layouts/variables.css';

.Hero {
  height: 60vh;
  position: relative;
}

@media (--extra-small-screen) {
  .Hero {
    height: auto;
  }
}

.Hero-Background {
  background-image: linear-gradient(
    var(--accent-tertiary),
    var(--accent-quarternary)
  );
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.Hero-BackgroundImage {
  background-image: url('/img/splash-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  mix-blend-mode: color-dodge;
}

.Hero-Container {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    [main] minmax(0, 4fr)
    minmax(0, 1fr);
  grid-template-rows:
    minmax(0, 1fr)
    [main] minmax(0, max-content)
    minmax(0, 1fr);
  height: 100%;
}

@media (--extra-small-screen) {
  .Hero-Container {
    grid-template-columns:
      0
      [main] minmax(0, 4fr)
      0;
  }
}

.Hero-Body {
  font-family: Lato;
  font-style: normal;
  grid-column: main;
  grid-row: main;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.Hero-BodyWrapper {
  position: relative;
}

.Hero-BodyOverlay {
  background-color: var(--js-yellow-light);
  height: 100%;
  mix-blend-mode: darken;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.Hero-BodyContent {
  color: var(--accent);
  isolation: isolate;
  padding-bottom: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
  text-align: center;
}

.Hero-Lede {
  font-size: 7vw;
  white-space: nowrap;
}

@media (--extra-small-screen) {
  .Hero-Lede {
    font-size: 10vw;
  }
}

.Hero-Text {
  font-size: 2.5vw;
  text-align: center;
  white-space: nowrap;
}

@media (--extra-small-screen) {
  .Hero-Text {
    font-size: 3vw;
  }
}
