@import '../../layouts/variables.css';

.ScheduleItemDetails {
  color: inherit;
  display: flex;
  margin-top: var(--spacer-sm);
  text-decoration: none;
  transition: color 0.2s;
  &:nth-child(1) {
    margin-top: 0;
  }
  &[href] {
    &:hover {
      color: var(--accent-secondary);
      & .Avatar {
        border-color: var(--accent-secondary);
      }
    }
  }
}

.ScheduleItemDetails-Content {
  flex: 1;
  word-break: break-word;
}

.ScheduleItemDetails-Title {
  @apply --heading-xs;
}

.ScheduleItemDetails-Focus {
  @apply --size--base-0;
  background-color: var(--selection-bg);
  display: inline-block;
  &:empty {
    display: none;
  }
}

.ScheduleItemDetails-ByLine {
  color: var(--light-darkest);
  display: flex;
  font-weight: 300;
  margin-top: var(--spacer-2xs);
  &:empty {
    display: none;
  }
}

.ScheduleItemDetails-Descr {
  color: var(--light-darkest);
  display: flex;
  font-weight: 300;
  margin-top: var(--spacer-2xs);
  &:empty {
    display: none;
  }
}

.ScheduleItemDetails-Speakers {
  display: flex;
  margin-left: var(--spacer-md);
  &:empty {
    display: none;
  }
}
