@import '../../layouts/variables.css';

.TimeTable {
  /* TODO: Abstract these to a custom prop set or element (also used in Page) */
  margin-left: var(--page-margin-large);
  margin-right: var(--page-margin-large);
  @media (--small-screen) {
    margin-left: var(--page-margin-small);
    margin-right: var(--page-margin-small);
  }
}

.TimeTable-Header {
  border-bottom: solid 1px var(--accent-secondary);
}

.TimeTable-Heading {
  @apply --smallcaps-regular;
  @apply --heading-sm;
  color: var(--accent-secondary);
}
