@import '../../layouts/variables.css';

.TeamPageList {
  display: grid;
  font-size: initial;
  grid-gap: 20px;
  grid-row-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin-left: calc(var(--page-margin-small) * -1);
  margin-right: calc(var(--page-margin-small) * -1);
  @media (--small-screen) {
    margin-left: calc(var(--page-margin-large) * -1);
    margin-right: calc(var(--page-margin-large) * -1);
  }
  &[data-cols='2'] {
    grid-template-columns: 0.45fr repeat(2, 1fr) 0.45fr;
  }
  &[data-cols='4'] {
    grid-template-columns: repeat(4, 1fr);
  }
}
