@import '../../layouts/variables.css';

.TeamMember {
  display: grid;
  grid-template-rows: 20vh minmax(100px, 1fr);
}

.TeamMember-Link {
  display: block;
  &:hover {
    outline: var(--accent-secondary) auto 5px;
  }
}

.TeamMember-Photo {
  width: 100%;
}

.TeamMember-ProfileImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.TeamMember-Name {
  @apply --heading-xs;
  margin-top: var(--spacer-xs);
}

.TeamMember-Roles {
  @apply --fine-print;
  font-style: italic;
}
