@import '../../layouts/variables.css';

.GridRow {
  display: grid;
  margin-top: var(--spacer-sm);
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 4fr)
    [main-end] minmax(1em, 1fr);
}

.GridRow-Layout {
  grid-column: main;
}
