@import '../../layouts/variables';

:root {
  --media-width-max: calc(300px - var(--spacer-lg));
  --media-img-dims: calc(100% - var(--spacer-lg));
}

.GridRow {
  display: grid;
  padding-top: var(--spacer-2xl);
  grid-template-columns:
    [full-start] minmax(1em, 2fr)
    [offsetleft-start] minmax(1em, calc(var(--media-width-max) / 3))
    [main-start] minmax(0, calc(var(--media-width-max) / 3 * 2))
    [offsetleft-end] minmax(0, 3fr)
    [offsetright-start] minmax(0, calc(var(--media-width-max) / 3 * 2))
    [main-end] minmax(1em, calc(var(--media-width-max) / 3))
    [offsetright-end] minmax(1em, 2fr) [full-end];
  & a {
    color: var(--color-cta);
    text-decoration-skip: ink;
  }
}

.GridRow--feature {
  background-color: var(--accent);
  padding-bottom: var(--spacer-xl);
  padding-top: var(--spacer-lg);
  color: white;
  & a {
    color: var(--js-yellow);
  }
  & .GridRow-Header {
    color: var(--js-yellow) !important;
  }
}

.GridRow-Header {
  @apply --heading-md;
  color: var(--color-cta);
}

.GridRow-Content {
  grid-column: main;
  & p {
    margin-top: var(--spacer-md);
  }
}

.GridRow-FullWidth {
  grid-column: full;
}

.GridRow-Media {
  display: none;
}

.GridRow-MediaCaption {
  display: none;
}

.GridRow-MediaLeft {
  display: block;
  grid-column: offsetleft;
  padding-right: var(--spacer-lg);
}

.GridRow-MediaRight {
  display: block;
  grid-column: offsetright;
  order: 2;
  padding-left: var(--spacer-lg);
}

.GridRow-MediaContainer {
  height: var(--media-width-max);
  object-fit: cover;
  padding-top: var(--spacer-lg);
  position: relative;
  &:after {
    content: '';
    display: block;
    height: 120%;
    position: absolute;
    top: -10%;
    left: 0;
    width: 120%;
  }
}

.GridRow-MediaContainer--triangle {
  &:after {
    content: '';
    background: var(--js-yellow);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    mix-blend-mode: multiply;
    transform: rotate(65deg);
  }
}

.GridRow-MediaImg {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.GridRow-OffsetLeft {
  grid-column: main / offsetright-start;
  order: 1;
}

.GridRow-OffsetRight {
  grid-column: offsetleft-end / main;
}
