@import '../../layouts/variables.css';

.Header-Content {
  align-items: center;
  background-color: var(--accent-secondary);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns:
    [brand] max-content
    [content] minmax(0, 4fr)
    [aside] max-content;
  padding-bottom: var(--spacer-xs);
  padding-left: var(--spacer-xs);
  padding-right: var(--spacer-xs);
  padding-top: var(--spacer-xs);
}

.Header-Brand {
  grid-column: brand;
}

.Header-LogoImg {
  height: 50px;
  width: 50px;
}

.Header-Nav {
  display: flex;
  grid-column: aside;
  justify-content: flex-end;
}

@media (--medium-screen) {
  .Header-Nav {
    display: initial;
    grid-column: content;
  }
}

.Header-LinkItems {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  margin-bottom: var(--spacer-2xs);
  margin-top: var(--spacer-2xs);
}

@media (--medium-screen) {
  .Header-LinkItems {
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.Header-LinkItem {
  @apply --smallcaps-regular;
}

.Header-Link {
  color: var(--light-lighter);
  display: block;
  margin-bottom: var(--spacer-2xs);
  margin-top: var(--spacer-2xs);
  padding-bottom: var(--spacer-2xs);
  padding-left: var(--spacer-2xs);
  padding-right: var(--spacer-2xs);
  padding-top: var(--spacer-2xs);
  position: relative;
  text-decoration: none;
  &::after {
    background-color: var(--accent-secondary-lighter);
    content: '';
    height: 4px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;
    width: 100%;
  }
  &:hover {
    &::after {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

@media (--small-screen) {
  .Header-Link {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.Header-CallToAction {
  grid-column: content;
  text-align: center;
}

@media (--medium-screen) {
  .Header-CallToAction {
    grid-column: aside;
  }
}

.Header-NavbarToggler {
  background: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  height: 25px;
  overflow: hidden;
  text-indent: 2.5em;
  width: 35px;
  &::before {
    background: linear-gradient(
      var(--light-lighter) 20%,
      transparent 20%,
      transparent 40%,
      var(--light-lighter) 40%,
      var(--light-lighter) 60%,
      transparent 60%,
      transparent 80%,
      var(--light-lighter) 80%
    );
    content: '';
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
  }
  &[aria-expanded='true'] {
    & + .Header-NavbarCollapsibleContent {
      transform: translateY(0);
    }
  }
}

@media (--medium-screen) {
  .Header-NavbarToggler {
    display: none;
  }
}

.Header-NavbarCollapsibleContent {
  background: var(--dark-lighter);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.3s;
  z-index: 1;
}

@media (--medium-screen) {
  .Header-NavbarCollapsibleContent {
    background: none;
    position: static;
    transform: none;
    width: 100%;
  }
}

.Header-NavbarCloseButton {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  position: absolute;
  right: 5px;
  text-indent: 16px;
  top: 5px;
  width: 40px;
  &::after,
  &::before {
    background: var(--light-darker);
    content: '';
    height: 40%;
    left: 50%;
    position: absolute;
    top: 33%;
    width: 2px;
  }
  &::after {
    transform: rotate(-45deg);
  }
  &::before {
    transform: rotate(45deg);
  }
}

@media (--medium-screen) {
  .Header-NavbarCloseButton {
    display: none;
  }
}
