:root {
  --font--primary-regular {
    font-family: Fanwood Text, serif;
    font-style: normal;
    font-weight: 400;
  }
  --font-primary-cap: 0.87ex; /* From https://codepen.io/MisterCurtis/pen/doEzzx */
  --font--smallcaps-regular {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  --font--smallcaps-bold {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 700;
  }
  --font--smallcaps-black {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 900;
  }
}
