:root {
  --body: {
    @apply --size--base-1;
    @apply --font--primary-regular;
    line-height: 1.5;
  }
  --smallcaps-regular: {
    @apply --size--base-0;
    @apply --font--smallcaps-regular;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  --smallcaps-black: {
    @apply --size--base-0;
    @apply --font--smallcaps-black;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  --button-label-regular: {
    @apply --smallcaps-regular;
    @apply --size--base-1;
  }
}
