:root {
  --body: {
    @apply --size--base-1;
    @apply --font--primary-regular;
    line-height: 1.5;
  }
  --smallcaps-regular: {
    @apply --size--base-0;
    @apply --font--smallcaps-regular;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  --smallcaps-small: {
    @apply --size--base-0;
    @apply --font--smallcaps-regular;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  --smallcaps-bold: {
    @apply --size--base-0;
    @apply --font--smallcaps-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  --smallcaps-black: {
    @apply --size--base-0;
    @apply --font--smallcaps-black;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  --smallcaps-black-md: {
    @apply --smallcaps-black;
    @apply --size--base-2;
  }
  --fine-print: {
    @apply --size--base-0;
    @apply --font--smallcaps-regular;
  }
  --heading-md: {
    @apply --size--base-3;
    @apply --font--accent-regular;
  }
  --heading-sm: {
    @apply --size--base-2;
    @apply --font--accent-regular;
  }
  --heading-xs: {
    @apply --size--base-1;
    @apply --font--accent-regular;
  }
  --heading-2xs: {
    @apply --smallcaps-black;
  }
  --heading-3xs: {
    @apply --smallcaps-bold;
    letter-spacing: initial;
  }
  --heading-4xs: {
    @apply --smallcaps-regular;
    letter-spacing: initial;
  }
  --button-label-regular: {
    @apply --smallcaps-regular;
    @apply --size--base-1;
  }
  --button-label-small: {
    @apply --smallcaps-small;
    @apply --size--base-0;
  }
}
