@import '../../layouts/variables.css';

.Footer {
  background: var(--accent-darker);
  color: var(--light);
  margin-top: var(--spacer-xl);
}

.Footer-LinkGroups {
  display: flex;
  justify-content: space-evenly;
}

@media (--extra-small-screen) {
  .Footer-LinkGroups {
    display: block;
    margin-left: var(--spacer-sm);
    margin-right: var(--spacer-sm);
  }
}

.Footer-LinkGroup {
  list-style: none;
  padding-top: var(--spacer-md);
}

@media (--extra-small-screen) {
  .Footer-LinkGroup {
    padding-top: var(--spacer-xs);
  }
}
.Footer-LinkGroupHeader {
  @apply --smallcaps-bold;
  color: var(--js-yellow-dark);
  padding-top: var(--spacer-md);
}

.Footer-Link {
  @apply --fine-print;
  & a {
    color: inherit;
    text-decoration-skip: ink;
  }
}

.Footer-Legal {
  @apply --fine-print;
  padding-bottom: var(--spacer-md);
  padding-top: var(--spacer-md);
  text-align: center;
}
