@import '../../layouts/variables.css';

.Page {
  margin-left: var(--page-margin-large);
  margin-right: var(--page-margin-large);
  @media (--small-screen) {
    margin-left: var(--page-margin-small);
    margin-right: var(--page-margin-small);
  }
}

.Page-Content {
  grid-column: page;
  margin-top: var(--spacer-lg);
  & a {
    color: var(--color-cta);
    text-decoration-skip: ink;
  }
  & blockquote {
    @apply --full-width;
    background: var(--light);
    margin-bottom: var(--spacer-sm);
    padding-bottom: var(--spacer-sm);
    padding-top: var(--spacer-sm);
    & p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  & hr {
    & + blockquote {
      text-align: center;
      & strong {
        background-color: transparent;
      }
    }
  }
  & cite {
    @apply --fine-print;
    display: block;
    font-style: italic;
    margin-top: var(--spacer-xs);
    text-align: center;
  }
  & > h1 {
    @apply --heading-md;
    color: var(--color-cta);
    margin-bottom: var(--spacer-sm);
    margin-top: var(--spacer-lg);
    & + h2 {
      margin-bottom: var(--spacer-sm);
      margin-top: calc(var(--spacer-2xs) * -1);
    }
  }
  & > h2 {
    @apply --heading-sm;
    color: var(--accent-darker);
    margin-bottom: var(--spacer-sm);
    margin-top: var(--spacer-lg);
    & + h3 {
      margin-bottom: var(--spacer-sm);
      margin-top: calc(var(--spacer-sm) * -1);
    }
  }
  & > blockquote > h3,
  & > h3 {
    @apply --heading-xs;
    color: var(--accent-lighter);
    margin-bottom: var(--spacer-xs);
    margin-top: var(--spacer-md);
    & + h4 {
      margin-bottom: var(--spacer-xs);
      margin-top: calc(var(--spacer-xs) * -1);
    }
  }
  & > blockquote > h3 {
    margin-top: 0;
  }
  & > h4 {
    @apply --heading-2xs;
    margin-bottom: var(--spacer-2xs);
    margin-top: var(--spacer-md);
    & + h5 {
      margin-bottom: var(--spacer-2xs);
      margin-top: calc(var(--spacer-md) * -1);
    }
  }
  & > h5 {
    @apply --heading-3xs;
    color: var(--light-darker);
    margin-top: var(--spacer-2xs);
  }
  & > h6 {
    @apply --heading-4xs;
    color: var(--light-dark);
  }
  & > ol {
    margin-bottom: var(--spacer-sm);
    margin-left: 2ch;
    margin-right: 2ch;
    & li {
      margin-bottom: var(--spacer-xs);
    }
  }
  & img {
    margin: 0 auto;
    width: 100%;
  }
  & p {
    margin-bottom: var(--spacer-sm);
  }
  & strong {
    background-color: var(--selection-bg);
  }
  & table {
    margin-top: var(--spacer-sm);
  }
  & > ul {
    margin-bottom: var(--spacer-sm);
    margin-left: 2ch;
    margin-right: 2ch;
    & li {
      margin-bottom: var(--spacer-2xs);
    }
  }
}

.Page-CallToAction {
  background-color: var(--js-yellow-lighter);
  margin-bottom: var(--spacer-sm);
  padding: var(--spacer-sm);
  text-align: center;
  @nest .Page-Content & {
    @apply --full-width;
    &:first-child {
      margin-bottom: var(--spacer-lg);
      margin-top: calc(var(--spacer-lg) * -1);
    }
  }
  & *:first-child {
    margin-top: 0;
  }
  & .LinkButton {
    margin-top: var(--spacer-sm);
  }
  & strong {
    background-color: transparent;
    display: block;
  }
  & table {
    border-spacing: var(--spacer-2xs);
    margin: 0 auto;
  }
  & td {
    text-align: left;
  }
}
