@import '../../layouts/variables.css';

.ContentBlockTitle {
  @apply --heading-xs;
  color: var(--accent-light);
  font-weight: 300;
  margin-top: var(--spacer-lg);
  letter-spacing: 4.44px;
  text-align: center;
  text-transform: uppercase;
}

.ContentBlockTitle--feature {
  @apply --heading-sm;
  color: var(--accent);
  font-weight: 400;
  letter-spacing: 3px;
}
