@import '../../layouts/variables.css';

.ContentBlockTitle {
  margin-top: var(--spacer-lg);
  @apply --heading-xs;
  text-transform: uppercase;
  letter-spacing: 4.44px;
  font-weight: 300;
  text-align: center;
}

.ContentBlockTitle--feature {
  @apply --heading-sm;
  letter-spacing: 3px;
  font-weight: 400;
  color: var(--accent);
}
