@import '../../layouts/variables.css';

.GridLayout {
  margin-top: var(--spacer-md);
  &[data-layout='1/211/2'] {
    display: grid;
    grid-gap: var(--spacer-xs);
    grid-template-areas:
      'a a'
      'b c'
      'd d'
      'e e'
      'f f';
    grid-template-columns: repeat(2, 1fr);
    @media (--medium-screen) {
      grid-template-areas:
        'a a a'
        'b c d'
        'e c d'
        'f f g';
      grid-template-columns: repeat(3, 1fr);
    }
    & > :nth-child(1) {
      height: calc(var(--spacer-xl) * 3);
    }
  }
  &[data-layout="1"] {
    display: flex;
    justify-content: center;
  }
  &[data-layout="11+"] {
    display: grid;
    grid-gap: var(--spacer-xs);
    grid-template-areas: 'a' 'b';
    grid-template-columns: repeat(1, 1fr);
    @media (--small-screen) {
      grid-template-areas: 'a b';
      grid-template-columns: 1fr 2fr;
    }
  }
  &[data-layout='12'] {
    display: grid;
    grid-gap: var(--spacer-xs);
    grid-template-areas: 'a' 'b' 'c';
    grid-template-columns: repeat(1, 1fr);
    @media (--small-screen) {
      grid-template-areas: 'a b' 'a c';
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &[data-layout='1/11'] {
    display: grid;
    grid-gap: var(--spacer-xs);
    grid-template-areas: 'a' 'b' 'c';
    grid-template-columns: repeat(1, 1fr);
    @media (--small-screen) {
      grid-template-areas: 'a a' 'b c';
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &[data-layout='111'] {
    display: grid;
    grid-gap: var(--spacer-xs);
    grid-template-areas: 'a b c';
    grid-template-columns: repeat(3, 1fr);
    & > .GridLayout-Item {
      height: 37vw;
      max-height: 555px;
    }
  }
  &[data-layout*='flex'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: calc((var(--spacer-xs) / 2) * -1);
    margin-right: calc((var(--spacer-xs) / 2) * -1);
    & .GridLayout-Item {
      margin-bottom: calc(var(--spacer-xs) * 2);
      margin-left: calc(var(--spacer-sm) / 2);
      margin-right: calc(var(--spacer-sm) / 2);
      width: calc(50% - var(--spacer-sm));
      @media (--extra-small-screen) {
        margin-bottom: var(--spacer-xs);
        width: 75%;
      }
      @media (--small-screen) {
        width: calc(50% - var(--spacer-xs));
      }
      @media (--medium-screen) {
        width: calc(33.33% - var(--spacer-xs));
      }
    }
  }
  &[data-layout='flex-4'] {
    & .GridLayout-Item {
      @media (--medium-screen) {
        width: calc(25% - var(--spacer-xs));
      }
    }
  }
}
