@import '../../layouts/variables.css';

.GridLayout {
  display: grid;
  grid-gap: 20px;
  margin-top: var(--spacer-md);
  &[data-layout='211'] {
    grid-template-areas:
      'a b c'
      'd b c';
    grid-template-columns: repeat(3, 1fr);
  }
  &[data-layout='1'] {
    grid-template-areas: 'a b c';
    grid-template-columns: 1.55fr 1fr 1.55fr;
    & > :first-child {
      grid-area: b;
    }
  }
  &[data-layout='11'] {
    grid-template-areas: 'a b c d';
    grid-template-columns: repeat(4, 1fr);
    & > :first-child {
      grid-area: b;
    }
    & > :last-child {
      grid-area: c;
    }
  }
  &[data-layout='111'] {
    grid-template-areas: 'a b c';
    grid-template-columns: repeat(3, 1fr);
  }
  &[data-layout='1111'] {
    grid-template-areas: 'a b c d';
    grid-template-columns: repeat(4, 1fr);
  }
}
