@import './base.css';

body {
  @apply --body;
  color: var(--type-regular);
}

.DefaultLayout {
  display: grid;
  grid-template-rows:
    minmax(max-content, 88px)
    1fr
    max-content;
  height: 100%;
}
