@import './base.css';

body {
  @apply --body;
  color: var(--type-regular);
}

.DefaultLayout {
  height: 100%;
}

.Site-Header--withHero {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow: hidden;
}
